body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html, body{
	height: 100vh;
	margin: 0;
	box-sizing:border-box;
}
#root{
	display:flex;
	margin:0;
	box-sizing:border-box;
	max-height:100vh;
}
#mainSide{
	width:100%;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}
#contentHeader{
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	width:100%;
	height:20%;
	border-bottom:1px solid black;
}
#sidebar{
	max-height:100vh;
	display:flex;
	width:30%;
	flex-wrap:wrap;
	justify-content:center;
	overflow:hidden;
	border-right:solid grey 2px;
}
#teamForm{
	max-height:90vh;
	display:flex;
	flex-wrap:wrap;
	overflow:auto;
	gap:1vh;
}

.teamBlock{
	display:flex;
	text-align:center;
	align-items:center;
	width:100%;
	justify-content:space-around;
	max-height:100%;
	font-size:1.5rem;
	text-decoration:none;
	color:black;
}
.teamBlock:hover{
	opacity:0.6;

}
